<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
.l{font-size: 14px;}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
html {
  scroll-behavior: smooth;
}
#top{
  position:fixed;
  width:100%;
  height:150px;flex: none;
  background-color: #4a2f1a;
  max-width: none;padding: 0px;
  top:0px;z-index: 8;overflow: hidden;
}
#left{
  position:fixed;
  width:290px;
height:100%;max-height: none;overflow: hidden;word-wrap: break-word;
  background-color: transparent;
  left:0px;z-index: 1049;
  top:156px;padding: 2px;

}
#right{  position:fixed;
  width:330px;
height:100%;max-height: none;
  background-color: #aaadab;word-wrap: break-word;
right: 0px;z-index: 3;padding: 2px;border-radius:0px;
  top:158px;}
#mid{
position: absolute;
top:158px;left:299px;right: 340px;
 z-index: 1;

}
#person{

  position:fixed;

    background-color: transparent;color: white;
  right: 10px;z-index: 9;
    top:10px;

}
</style>
    <title>Profile</title>
  </head>
  <body>
<div id="person" >
<h6><b>"Name"</b></h6>
<button type="button" class="btn btn-secondary">Log out</button>
</div>
    <div class="container shadow-sm" id="top">



<div style="position:fixed;padding:0;left:0px;">


    <img src="gog.png" style="height:150px;width:290px;">
</div>

<div  style="position:fixed;padding:  20px 0px 0px 10px;left:290px;overflow: hidden;">

<h4  style="color:white;overflow: hidden;width:600px;"><font size="3">Government of Goa</font><br>Directorate of Higher Education, Porvorim - Goa</h4>


</div>
<div  style="position:fixed;left:290px;top:94px;right: 0px;height:50px;z-index:4;">


  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index:5;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Academics</a>
                        </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Events</a>
                                </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#">Contact us</a>
                                        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Alumni/College" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



</div>











  </div>





























    <div class="container" id="left"><div>


      <div class="card" style="width: 100%;">
  <img class="card-img-top" src="purp.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">Degrees-Branch-Year</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Job</li>
    <li class="list-group-item">Company</li>
    <li class="list-group-item">contact</li>
  </ul>
  <div class="card-body">




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">

<!---make link here for profile update-->
Update Profile
</button>
<!---^^make link here for profile update-->


  </div>
</div></div>






</div>







































    <div class="container" id="right">
      <h4>*messages-chats*</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        Unread Messages
          <span class="badge badge-danger badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
Groups
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Contact College
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>
</div>



























<div  id="mid">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:100%;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="amp.jpeg" alt="First slide" style="width:100%;height:350px;">  <div class="carousel-caption d-none d-md-block" style="background-color: #1e84a6;opacity:0.8"><font style="color:black">
      <h5>-College_Name-
  </h5>
      <p><a href="#events" style="color:white">Know Your College</a></p></font>
    </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="Pictures.jpg" alt="Second slide"  style="width:100%;height:350px;">  <div class="carousel-caption d-none d-md-block" style="background-color: #95989e;opacity:0.8"><font style="color:black;">
      <h5>Para-para-paradise
  Para-para-paradise
  </h5>
      <p><a href="#Notifications" style="color:white">Notifications</a></p></font>
    </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="purp.jpg" alt="Third slide"  style="width:100%;height:350px;">
      <div class="carousel-caption d-none d-md-block" style="background-color: yellow;opacity:0.5"><font style="color:black">
    <h5>Para-para-paradise
Para-para-paradise
</h5>
    <p><a href="#events" style="color:grey">More Events</a></p></font>
  </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>






  <br><h2 id="Notifications">Notifications:</h2>
  <br>


  <div class="card text-white bg-warning mb-3" style="max-width: 100%;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>










  <hr>

<br><h2 id="events">Events:</h2>
<br>


<% events.forEach(function(event){%>
<div class="card mb-3">
  <img class="card-img-top" src="Pictures.jpg" alt="Card image cap" style="width:100%;height:200px">
  <div class="card-body">
    <h5 class="card-title"><a href="/wall/<%= event._id%>"><%= event.name%></a></h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted"><%= event.date %></small></p>
  </div>
</div>
<br>
<% }); %>








</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

  </body>
</html>
